.test-media {
background: black;
color: white;
height: 300px;
width: 300px;
}

@media.screen and (max-width: 500px) {
.test-media {
background: green
    }
}

.btn-pink {
color: #fff;
background-color: pink;
border-color: pink;
}

.btn-danger {
    color: black
background-color: yellow;
border-color: yellow;
}